body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
    font-size: 70px;
    font-family: cursive;
    color: rgb(55, 43, 226);
    background-color: rgb(217, 255, 0);
}